#rctn2-1{
    margin-top: 5%;
}
#rctn2-2{
    margin-top: 3%;
}
#ft1{
    margin-top: 5%;
}
#ft2{
    background-color: black;
    padding: 50px;
}
#ft3{
    padding: 50px;
}
.nav img{
    width: 60px;
}
#fl{
    text-align: center;
}